# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IDE and tooling files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Flutter/Dart/Pub related
**/doc/api/
**/flutter/bin/cache/
**/.packages
**/pubspec.lock
**/pubspec.yaml~
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# OS related
Thumbs.db
ehthumbs.db
Icon?
*_flymake.*

# Files created by dart2js
out/

# JetBrains Rider
.idea/

# VSCode
.vscode/

# Bazel
bazel-*
bazel_out/

# Fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Others
lib/generated_plugin_registrant.dart

# Node.js dependencies
node_modules/

# macOS
**/.DS_Store
